* {
    box-sizing: border-box;
}

html, input {
    font-family: sans-serif;
}

body {
    margin: 5px;
}

input, .options, table {
    font-size: 30px;
    width: 100%;
}

.enc, .verb {
    font-weight: bold;
    font-size: 150%;
    margin-right: .5em;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: repeating-linear-gradient(
            #ff000008,
            #ff000008 50px,
            #ffff0008 50px,
            #ffff0008 100px
    );
    pointer-events: none;
}

.search {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 100px;
    width: 50px;
}

.options {
    cursor: pointer;
}

.volat {
    vertical-align: super;
    font-size: 80%;
}

.conjug tr td:nth-of-type(2) span:not(.verb), .conjug tr td:nth-of-type(3) span {
    font-size: 15px;
}

.power {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 75%;
}
